certifi==2025.1.31
fastapi==0.121.2
langchain>=0.3.0,<1.0.0
langchain-openai>=0.3.0,<1.0.0
langchain-google-genai>=2.0.0,<3.0.0
langchain-community>=0.3.0,<0.4.0
pymongo==4.15.4
reportlab==4.4.5
tavily-python==0.7.13
uvicorn[standard]==0.38.0
python-dotenv==1.2.1